@tailwind base;
@tailwind components;
@tailwind utilities;

.wave {
      animation: wave 1.2s infinite;
      display: inline-block;
      transform-origin: 70% 70%;
    }
    
    @keyframes wave {
      0% { transform: rotate(0deg); }
      10% { transform: rotate(14deg); }
      20% { transform: rotate(-8deg); }
      30% { transform: rotate(14deg); }
      40% { transform: rotate(-4deg); }
      50% { transform: rotate(10deg); }
      60% { transform: rotate(0deg); }
      100% { transform: rotate(0deg); }
    } 
    
    .mockup-browser-toolbar::before {
      content: none !important;
    }
    
    .stop-bounce-on-hover:hover {
      animation-play-state: paused;
    }
    